<!-- Display Post -->

<div class="columns is-centered mt-5">
    <article class="panel is-info column is-three-fifths">
        <p class="panel-heading">
            {{post.title}}
        </p>
        <p class="panel-tabs pt-3 pb-3">
            Posted by {{post.user.username}} on {{format_date post.createdAt}}. Last edited on {{format_date
            post.updatedAt}}.
        </p>
        <p class="panel-block">
            {{post.content}}
        </p>
    </article>
</div>


<!-- Display Comments -->

<div class="columns is-centered mt-5">
    <article class="panel is-info column is-three-fifths">
        <p class="panel-heading">
            Comments
        </p>
        {{#each comments as |comment|}}
        <div class="panel-block">
            {{comment.user.username}} on {{format_date comment.createdAt}}:
            <br>
            <br>
            {{comment.content}}
        </div>
        {{/each}}
    </article>
</div>


<!-- Display add comment form if user is logged in -->

{{#if logged_in}}
<div class="columns is-centered mt-5">
    <article class="panel is-info column is-three-fifths">
        <p class="panel-heading">
            Add a Comment
        </p>
        <form id="new-comment-form">
            <div class="field mt-5">
                <div class="control">
                    <textarea class="textarea" placeholder="Enter comment here" id="comment-content"
                        data-post_id="{{post.id}}"></textarea>
                </div>
            </div>
            <div class="field">
                <p class="control">
                    <button class="button is-info" type="submit" id="new-comment-button">
                        Add Comment
                    </button>
                </p>
            </div>
        </form>
    </article>
</div>
{{/if}}


<script src="/js/new-comment.js"></script>